// colors
$blue: #1552EF;

.nav-wrap{
  background-color: #fff;
  box-shadow: 0 5px 5px -5px gray;
}

.nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
h1{
  color: $blue;
  font-weight: 700;
}
  .about {
    font-size: 20px;
  }
  span {
    font-size: 32px;
    color: $blue;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h4{
      color: white;
      font-weight: 500;
    }
    span{
      margin: 0;
      &:hover{
        cursor: pointer;
      }
      svg{
        margin: 0;
        margin-right: 5px;
      }
    }
    * {
      margin: 15px;
    }
    img {
      width: 16px;
      height: 16px;
    }
  }
}
