$blue: #1552EF;
.wrapper-footer {
  background-color: $blue;
  box-shadow: 0 5px 5px 5px gray;

}

.footer {
  margin: 0 auto;
  background-color: $blue;
  height: 100px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  p {
    color: white;
    font-size: 14px;
  }
}
